/* #jsimg{
	text-align:center
} */
body {
  margin: 0;
}


.navigation-bar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 1;
  width: 100%;
  top: 0;
}

.navigation-bar ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.navigation-bar li {
  margin-right: 20px;
  float: right;
}

#banner {
  font-size: 1.25rem;
  float: left;
  font-family: 'VT323', monospace;
}

.navigation-bar li.left {
  margin-left: 10px;
  float: left;
}

.navigation-bar li.left a:hover {
  background-color: black;
}

.navigation-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation-bar li a:hover {
  background-color: #111;
}

.navigation-bar .active {
  background-color: #4CAF50;
}

#current-user {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

























/*  */
