html, body {margin:0px; padding: 0px;}

/* Image zoom on hover + Overlay colour */

.parent {
    width: 80%;
    margin: 20px;
    height: 80%;
    border: 1px solid black;
    border-radius: 5%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}


.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}


.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.child.bg-1 img {
  width: 50%;
  margin-top: 5%;
}

.github-button {
  position: absolute;
  bottom: 7%
}

.projects-header {
  width: 100%;
  text-align: center;
  margin: 0 0 3% 0;
}

#language-card-container {
  transition: 1s;
  text-align: center;
}

#language-card-container.slide-away {
  transition: 2s ease;
  -webkit-transition: 2s ease;
  margin-left: -200%;
  float: left;
  margin-bottom: 20%;
}

#language-cards {
    padding: 50px 50px;
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}


#language-card-container .parent:hover p, .parent:focus p {
    display: block;
		text-decoration: none;
}


#language-card-container p {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}

#project-card-container {
  padding: 5%;
}
