.parent {
    width: 80%;
    margin: 20px;
    height: 80%;
    border: 1px solid black;
    border-radius: 5%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.card {
  padding: 2%;
}


.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.queue-head {
  text-align: center;
}


.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}


.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.child.bg-1 img {
  width: 50%;
  margin-top: 5%;
}

.github-button {
  position: absolute;
  bottom: 7%
}

.projects-header {
  width: 100%;
  text-align: center;
  margin: 0 0 3% 0;
}

.row .col.s6 {
  opacity: 1;
  transition: 1s;
}

.row .col.s6.fade-away {
  transition: 1s;
  opacity: 0;
}

#language-card-container {
  transition: 1s;
  text-align: center;
}

#language-card-container.slide-away {
  transition: 2s ease;
  -webkit-transition: 2s ease;
  margin-left: -200%;
  float: left;
  margin-top: -200%;
}

#language-cards {
    padding: 50px 50px;
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}


#language-card-container .parent:hover p, .parent:focus p {
    display: block;
		text-decoration: none;
}


#language-card-container p {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}

#project-card-container {
  padding: 5%;
}

#project-card-container.hidden {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

#sign-in{
  right: 8%;
  position: absolute;
  opacity: 0;
  transition: 2s;
  -webkit-transition: 2s;
}

#sign-in.clicked{
  opacity: 1;
  transition: 2s;
  -webkit-transition: 2s;
  transition-property: visibility;
	transition-duration: 2s;
}

#sign-in.submitted{
  opacity: 0;
  transition: 2s;
  -webkit-transition: 2s;
}


#language-card-container #explore {
  transition: 2s;
  -webkit-transition: 2s;
}

#language-card-container #explore.moved {
  padding-right: 40%;
  transition: 2s;
  -webkit-transition: 2s;
}

#queue-card-container {
  min-height: 20%;
  padding: 5%;
}

#queue-card-container.hidden {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

#forum-container {
  padding: 5%;
}

#forum-container.hidden {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

ul.hidden-comments {
  -webkit-transition: 1.5s;
  opacity: 0;
  margin: 0;
  max-height: 0;
  transition: max-height 1.5s ease-in;
  overflow: hidden;
}

ul.show-comments {
  transition: 1.5s;
  -webkit-transition: 1.5s;
  padding: 1%;
  border-bottom-style: solid;
  margin: 5%;
  margin-bottom: 7%;
}

ul.comments li {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 1%;
  border-radius: 1%;
  margin: 2%;
}

ul.comments li.borderless {
  border: none;
}

a.post-go-to-repo {
  position: absolute;
  bottom: 1em;
}

div#help-form-container {
  transition: 1.5s;
  -webkit-transition: 1.5s;
  padding: 10%;
  max-height: auto;
}

div#help-form-container.hidden {
  transition: 1.5s;
  -webkit-transition: 1.5s;
  padding: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

div#help-form-container h6.hidden#help-form-message {
  opacity: 0;
  transition: 2s;
  -webkit-transition: 2s;
}

div#help-form-container h6#help-form-message {
  opacity: 1;
  transition: 2s;
  -webkit-transition: 2s;
}
